Repository materializecss/materialize, pull requests merged in 2021-03, with the labels that each got.

#94 #93 fixed sharing onOptionClick handler in multiple autocomplete instances
  js/autocomplete.js
  js/dropdown.js
  tests/spec/autocomplete/autocompleteSpec.js
Labels: bugfix, component: dropdown, javascript

#95 Fix breakpoint issue and incorrect min-width size
  sass/components/_global.scss
  sass/components/_typography.scss
  sass/components/_variables.scss
Labels: bugfix, css

#98 feat(dropdown): ♿ improve dropdown & autocomplete a11y
  js/autocomplete.js
  js/dropdown.js
Labels: bugfix, component: autocomplete, component: dropdown, javascript

#99 feat: :wastebasket: add warning when using deprecated html setting
  js/toasts.js
  js/tooltip.js
  test/html/tooltip.html
Labels: component: toast, component: tooltip, javascript
