Repository materializecss/materialize, pull requests merged in 2021-02, with the labels that each got.

#49 Fixes open vulnerabilities for #38
  jade/page-contents/autocomplete_content.html
  jade/page-contents/toasts_content.html
  jade/page-contents/tooltips_content.html
  js/autocomplete.js
  js/toasts.js
  js/tooltip.js
  test/html/autocomplete.html
  test/html/toast.html
  test/html/tooltip.html
Labels: component: autocomplete, component: toast, component: tooltip, documentation, enhancement, javascript

#57 fixed a bug in Dropdown which caused an Error, except you are using j…
  js/dropdown.js
  js/global.js
Labels: bugfix, component: dropdown

#64 Upgrade testing framework, rewrite tests to use vanilla js instead of jQuery
  Gruntfile.js
  package.json
  tests/spec/autocomplete/autocompleteSpec.js
  tests/spec/cards/cardsSpec.js
  tests/spec/carousel/carouselSpec.js
  tests/spec/chips/chipsSpec.js
  tests/spec/collapsible/collapsibleSpec.js
  tests/spec/dropdown/dropdownSpec.js
  tests/spec/fab/fabSpec.js
  tests/spec/helper.js
  tests/spec/materialbox/materialboxSpec.js
  tests/spec/modal/modalSpec.js
  tests/spec/select/selectSpec.js
  tests/spec/sidenav/sidenavSpec.js
  tests/spec/tabs/tabsSpec.js
  tests/spec/toast/toastSpec.js
  tests/spec/tooltip/tooltipSpec.js
Labels: enhancement
