Repository materializecss/materialize, pull requests merged in 2021-01, with the labels that each got.

#46 [DOC] Improved Search Results
  docs/js/search.js
  jade/feature-discovery.jade
Labels: documentation, enhancement

#60 enable autocomplete to accept dropdown options
  jade/page-contents/autocomplete_content.html
  js/autocomplete.js
Labels: component: autocomplete, enhancement

#62 Fixed overflowed scroll sidenav on desktop
  sass/components/_sidenav.scss
Labels: bugfix, component: sidenav

#63 Nightly builds
  .github/workflows/nightly.yml
Labels: build
